.single-plant {
    border: solid 3px #FBA100;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 15px;
}

.single-plant .Plant-view-notes-button {
    display: block;
    text-align: center;
    margin: 10px auto 10px auto;
    color: white;
    background-color: #465C8B;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    height:40px;
    width: 350px;
}

.single-plant .Plant-add-note-button {
    display: block;
    text-align: center;
    margin: 10px auto 10px auto;
    color: white;
    background-color: #465C8B;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    height:40px;
    width: 350px;
}


.single-plant .Plant-view-notes-button:hover {
    background-color:#93C178;
}

.single-plant .Plant-add-notes-button:hover {
    background-color:#93C178;
}

.single-plant img {
    display:block;
    margin: 15px auto;
    width:60%;
    height:auto;
}

.single-plant h3 {
    display:block;
    text-align:center;
    font-size:28px;
}

.single-plant h4 {
    text-align:center;    
    font-size:22px; 
    margin:5px;
}

.single-plant h5 {
    text-align:center;    
    font-size:20px;
    margin:5px;
}

.single-plant p {
    text-align:center;    
    font-size:18px;
    margin:5px;
}