.single-task {
    max-width: 70%;
    margin: 50px auto;
    border-bottom: 1px solid #2D3413;
}

.single-task .Task_delete {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 0px auto 10px auto;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:12px;
    height:40px;
    width: 100px;
}

.single-task h3 {
    font-size: 16px;
}

.single-task h4 {
    text-align: center;
    font-size: 16px;
    margin: 0;
}