.App_header {
  background-color: #93C178;
  text-align: center;
  display:block;
  font-size: 30px;
  font-style: none;
  text-decoration: none;
  color: rgb(9, 20, 44);
  height: 250px;
  padding: 20px;
}

.App_header a {
  text-decoration: none;
  color: rgb(9, 20, 44);
}

.App_header h1 {
  margin: 30px auto;
}