.PlantPage {
    margin: 20px auto;
    max-width: 70%;
    border: 1px solid #2D3413;
    padding: 10px;
}

.PlantPage h1 {
    text-align:center;
    line-height: 30px;
    letter-spacing: 2px;
    color: #2D3413;
}

.PlantPage_content {
    padding: 20px;
}

.PlantPage_content h2 {
    font-size: 18px;
}

.PlantPage .Add-task-button {
    display: block;
    text-align: center;
    margin:15px auto 15px auto;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:200px;
    height:30px;
    cursor: pointer;
}