.EditTendTaskPage {
    margin: 50px auto;
    max-width: 70%;
    border: 1px solid #2D3413;
    padding: 20px;
    text-align: center;
}


.EditTendTaskPage h2 {
    text-align:center;
    line-height: 30px;
    letter-spacing: 2px;
    color: #2D3413;
}

.EditTendTaskPage h2 {
    text-align:center;
    line-height: 30px;
    letter-spacing: 2px;
}

.EditTendTaskPage Input {
    border: 1px solid black;
    margin: 20px;
    width: 150px;
}

select {
    border: 1px solid black;
    margin: 20px;
    width: 150px;
}

Textarea {
    border: 1px solid black;
    margin: 20px;
    width: 150px;
}

.EditTendTaskPage .Add-task-button {
    display: block;
    text-align: center;
    margin:15px auto 15px auto;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:150px;
    height:30px;
    cursor: pointer;
}

.EditTendTaskPage .Cancel-add-task-button {
    display: block;
    text-align: center;
    margin:15px auto 15px auto;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:150px;
    height:30px;
    cursor: pointer;
}

.EditTendTaskPage .Cancel-add-task-button:hover {    
    background-color: #F94A41;
    color:white;
}

.EditTendTaskPage .Add-task-button:hover {    
    background-color: #F94A41;
    color:white;
}