.PlantEditPage {
    border: 2px solid #2D3413;
    max-width:80%;
    margin: 10px auto;
    padding:20px;
    line-height:28px;
    text-align: center;
}

.PlantEditPage h2 {
    text-align:center;
    line-height: 30px;
    letter-spacing: 2px;
    color: #2D3413;
}

.PlantEditPage h3 {
    text-align:center;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 30px auto;
}


.PlantEditPage label {
    padding:10px;
    font-size: 20px;
}

.PlantEditPage Input {
    margin: 25px auto;
    height: 40px;
    width: 70%;
    border: 1px solid black;
}

.PlantEditPage_Content .Details-button {
    display: block;
    text-align: center;
    margin:15px auto;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:250px;
    height:35px;
    padding-top:10px;
    cursor: pointer;
}

.Submit-plant-edits {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    width:140px;
    font-size:20px;
    margin: 10px auto 10px auto;
}

.Submit-plant-edits:hover {
    background-color:#F94A41;
}

.Cancel-add-plant-button {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #2D3413;
    text-decoration: none;
    border-radius:5%;
    width:140px;
    font-size:20px;
    margin: 10px auto 10px auto;
}


.Cancel-add-plant-button:hover {
    background-color:#F94A41;
}

.PlantEditPage .usda-link {
    color: #2D3413;
    cursor: pointer;
}

.PlantEditPage .usda-link:hover {
    color: #2D3413;

}

@media only screen and (min-width: 600px) {
    .PlantEditPage {
        max-width: 60%;
        margin:30px auto;
        padding: 10px 45px;
    }

    .PlantEditPage label {
        padding:20px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .PlantEditPage {
        margin:30px auto;
        max-width: 40%;
        padding:10px 45px;
    }

    .PlantEditPage Input {
        width: 80%;
    }
}