.PlantTasksPage h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    color: #2D3413;
    margin-bottom: 40px;
}

.PlantTasksPage h3 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
    color: #2D3413;
    margin-bottom: 40px;
}

.Add-plant-task-button p {
    text-align:center;
    margin:0;
}

.Tasks-subtitle {
    letter-spacing: 2px;
}

.Add-plant-task-button {
    background-color: #2D3413;
    display: block;
    text-align: center;
    margin:0 auto 0 auto;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    color: white;
    font-size: 20px;
    width:150px;
    height:42px;
    padding-top:15px;
}

.Add-plant-task-button:hover {
    background-color:#F7EF6A;
    color: #FFF;
}

.Back-to-plant-button {
    background-color: #2D3413;
    display: block;
    text-align: center;
    margin:15px auto 0px auto;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    color: white;
    font-size: 20px;
    width:150px;
    height:45px;
    padding: 15px 0 0 0;
}

.Back-to-plant-button p {
    margin:0;
}

.Back-to-plant-button:hover {
    background-color:#F7EF6A;
    color: #FFF;
}

@media only screen and (min-width: 600px) {
    .PlantTasksPage {
        max-width: 50%;
        margin:0px auto;
    }
}

@media only screen and (min-width: 992px) {
    .PlantTasksPage {
        max-width: 40%;
        margin:0px auto;
    }

    .Add-plant-task-button {
        font-size:18px;
        height:40px;
    }
}