.customize-results select {
    font-size: 18px;
    max-width: 50%;
}

.Sort label {
    padding: 10px;
    margin-left: 25px;
}

@media only screen and (min-width: 370px) {
    .Sort label {
        margin-left: 18%;
    }
}

@media only screen and (min-width: 600px) {
    .Sort label {
        margin-left: 33%;
    }
}

@media only screen and (min-width: 992px) {
    .Sort label {
        margin-left: 38%;
    }
}