.GardenNav_main {
    list-style-type: none;
    padding: 0;
    max-height: 50px;
    position: fixed;
    top: 0px;
    left:0px;
  }
  
  .GardenNav_link {
    color: rgb(27, 18, 61);
    padding-top:10px;
    background: #DFDCE3;
    height: 50px;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    max-width: 100px;
    text-decoration: none;
    border-radius: 5%;
    border-bottom: 1px solid #465C85;
  }
  
  .GardenNav_link:hover {
    color: #FBA100;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  @media only screen and (min-width: 992px) {
    .GardenNav_landing li {
      padding: 5px 8%;
    }
  }